@model IEnumerable<Domain.Entities.Activity>

@{
    ViewData["Title"] = "Activity History";
    var category = (Domain.Entities.Category)ViewBag.Category;
}

    <div class="col-lg-12 pt-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@category.Name - @ViewBag.Date</h6>
            </div>
            <div class="card-body">
                @if (Model != null && Model.Count() > 0)
                {
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Value)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @item.Date.ToShortDateString()
                                </td>
                                <td>
                                    @item.Value.ToString("#.##")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a href="@Url.Action("RemoveActivity", "Expenses", new { activity = item.Id })">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No activities were found for this month.</p>
                }
            </div>
        </div>
        <a href="@Url.Action("Index", "Expenses")" class="form-control btn btn-primary mt-2">Back</a>
    </div>




