@layout NoAuthLayout
@page "/signup"
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavManager

<EditForm Model="@user" OnValidSubmit="@HandleRegistration">
    <DataAnnotationsValidator />   

    <label for="name">Name</label>
    <InputText id="name" @bind-Value="user.Name" class="form-control"></InputText>
    <ValidationMessage For="@(() => user.Name)"></ValidationMessage>

    <label for="name">Email</label>
    <InputText id="email" @bind-Value="user.Email" class="form-control"></InputText>
    <ValidationMessage For="@(() => user.Email)"></ValidationMessage>

    <label for="password">Password</label>
    <InputText type="password" id="password" @bind-Value="user.Password" class="form-control"></InputText>
    <ValidationMessage For="@(() => user.Password)"></ValidationMessage>

    <label for="confirmpassword">Confirm Password</label>
    <InputText type="password" id="confirmpassword" @bind-Value="user.ConfirmPassword" class="form-control"></InputText>
    <ValidationMessage For="@(() => user.ConfirmPassword)"></ValidationMessage>   

    <ValidationSummary />
    <button type="submit" class="btn btn-primary">Create account</button>    
</EditForm>

<a class="small" href="/">Login with existing account</a>
 
@code {
    private UserRegistrationDTO user = new UserRegistrationDTO();

    private async void HandleRegistration()
    {
        var result = await Http.PostAsJsonAsync("api/Auth/register", user);
        if (result.IsSuccessStatusCode)
        {
            string token = await result.Content.ReadAsStringAsync();
            await LocalStorage.SetItemAsStringAsync("token", token);
            await AuthStateProvider.GetAuthenticationStateAsync();
            NavManager.NavigateTo("Categories");
        }
    }
}
